---
---
<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ site.title }}</title>

<meta name="description" content="{{ site.description }}">

<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="tachyons/css/tachyons.min.css">
<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">

<script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/10.3.1/js/smooth-scroll.min.js" integrity="sha256-Hk3HkON5BhP8Jv4yRmMrxtmOxTc/jR2WVYH8KrxsoHw=" crossorigin="anonymous"></script>
<!-- gumshoe, a simple, framework-agnostic scrollspy script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gumshoe/3.5.0/js/gumshoe.min.js" integrity="sha256-CVDZpGJ0HwdiCwDu5zPYuEOiO70P3zxx9ME3tvzpzyk=" crossorigin="anonymous"></script>

<!-- JQuery -->
<script
  src="http://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
      crossorigin="anonymous"></script>

</head>

<style>
.roman {
  font-family: 'Cormorant Garamond', serif;
}
section p {
  font-size: 1.5em;
}

.anchor {
  display: block;
  position: relative;
  top: -75px;
  visibility: hidden;
}
</style>

<body class="roman ma0">

  <style>
    .active {
      text-decoration: underline; 
    }
  </style>

  <nav data-gumshoe-header class="dn db-ns cf fixed w-100 o-90 top-0 justify-between ph3 bg-light-gray">
    <h1 class="fl f1 fw3 ma0 ttu">
      <a class="dim link black" href="#">
            MBHS Latin 
      </a>
    </h1>
    <div data-gumshoe class="fr mr5 f2">
      <a data-scroll class="v-mid dim link black" href="#about">about</a>
      <a data-scroll class="v-mid dim link black" href="#learn">learn</a>
      <a data-scroll class="v-mid dim link black" href="#meet">meet</a>
      <a data-scroll class="v-mid dim link black" href="#events">events</a>
      <a data-scroll class="v-mid dim link black" href="#faq">faq</a>
      <a data-scroll class="v-mid dim link black" href="#contact">contact</a>
    </div>
  </nav>

  <style>
.center-absolute {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.menu-button {
  margin-left: auto;
  top: 1em;
  right: 1em;
}
  </style>

  <header class="relative static-ns center-ns mw9-ns">
    <h1 class="absolute mt6 tc dn-ns center-absolute ph3 static-ns fw1 ttu f2 white center">
      McKinney Boyd</br> 
      Latin Department</br>
    </h1>

    <h1 class="dn db-ns f-subheadline-ns ttu fw1 center mw9">
      McKinney Boyd</br> 
      High School</br>
      Latin Department</br>
    </h1>
    <div id="menu-button" class="menu-button absolute dib dn-ns">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.42 26.18" style="width: 2rem;"><line x1="1" y1="1" x2="25.42" y2="1" style="fill:none;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px"></line><line x1="1" y1="7.6" x2="25.42" y2="7.6" style="fill:none;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px"></line><line x1="1" y1="14.19" x2="25.42" y2="14.19" style="fill:none;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px"></line><path d="M3.62,26.13,2,21H2q.09,1.58.09,2.11v3.07H.83v-6.6h1.9l1.56,5h0l1.66-5h1.9v6.6H6.58V23q0-.22,0-.51T6.65,21h0L4.9,26.13Z" transform="translate(-0.47 -0.04)" style="fill:#fff"></path><path d="M13,26.13H9.17v-6.6H13v1.15h-2.4v1.45H12.8v1.15H10.57V25H13Z" transform="translate(-0.47 -0.04)" style="fill:#fff"></path><path d="M20,26.13H18.24l-2.87-5h0q.09,1.32.09,1.89v3.1H14.16v-6.6h1.76l2.86,4.94h0q-.07-1.29-.07-1.82V19.54H20Z" transform="translate(-0.47 -0.04)" style="fill:#fff"></path><path d="M26.86,19.54v4.27a2.46,2.46,0,0,1-.33,1.28,2.13,2.13,0,0,1-.95.84,3.38,3.38,0,0,1-1.46.29,2.8,2.8,0,0,1-2-.65,2.31,2.31,0,0,1-.7-1.78V19.54h1.39v4a1.69,1.69,0,0,0,.31,1.12,1.27,1.27,0,0,0,1,.36,1.25,1.25,0,0,0,1-.36,1.7,1.7,0,0,0,.31-1.13v-4Z" transform="translate(-0.47 -0.04)" style="fill:#fff"></path></svg>
    </div>
    <picture class="db dn-ns flex-auto w-100">
      <img class="w-100 flex" src="assets/short-arch.png">
    </picture>
    <div class="pa3 bg-gray dn-ns">
    </div>
  </header>
  <div id="menu" class="absolute top-0 dn-ns w-100 vh-100 bg-light-gray" style="display: none;">
    <nav class="mb6">
      <div id="menu-close" class="menu-button absolute black">

              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.27 19.27" style="width: 1rem"><line x1="1" y1="1" x2="18.27" y2="18.27" style="fill:none;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px"/><line x1="1" y1="18.27" x2="18.27" y2="1" style="fill:none;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px"/></svg>
      </div>
    </nav>
    <a onclick="menuClose()" class="tc db pa3 link black ttu tracked f3 b" href="#about">About</a>
    <a onclick="menuClose()" class="tc db pa3 link black ttu tracked f3 b" href="#learn">Learn</a>
    <a onclick="menuClose()" class="tc db pa3 link black ttu tracked f3 b" href="#meet">Meet</a>
    <a onclick="menuClose()" class="tc db pa3 link black ttu tracked f3 b" href="#events">Events</a>
    <a onclick="menuClose()" class="tc db pa3 link black ttu tracked f3 b" href="#faq">FAQ</a>
    <a onclick="menuClose()" class="tc db pa3 link black ttu tracked f3 b" href="#contact">Contact</a>
  </div>
  <main class="pa3 center mw9">
    <div class="anchor" id="about"></div>
    <section class="mb6">
      <h2 class="f1"><a href="#" class="dim link black">^</a> about</h2>
      {% capture about %}{% include about.md %}{% endcapture %}
      {{ about | markdownify }}
    </section> 
    <div class="anchor" id="learn"></div>
    <section class="mb6">
      <h2 class="f1"><a href="#" class="dim link black">^</a> learn</h2>
      {% capture learn %}{% include learn.md %}{% endcapture %}
      {{ learn | markdownify }}
    </section> 
    <div class="anchor" id="meet"></div>
    <section class="mb6">
      <h2 class="f1"><a href="#" class="dim link black">^</a> meet</h2>
      {% capture meet %}{% include meet.md %}{% endcapture %}
      {{ meet | markdownify }}
    </section> 
    <div class="anchor" id="events"></div>
    <section class="mb6">
      <h2 class="f1"><a href="#" class="dim link black">^</a> events</h2>
      {% capture events %}{% include events.md %}{% endcapture %}
      {{ events | markdownify }}
    </section> 
    <div class="anchor" id="faq"></div>
    <section class="mb6">
      <h2 class="f1"><a href="#" class="dim link black">^</a> faq</h2>
      {% capture faq %}{% include faq.md %}{% endcapture %}
      {{ faq | markdownify }}
    </section>
    <div class="anchor" id="contact"></div>
    <section class="mb6">
      <h2 class="f1"><a href="#" class="dim link black">^</a> contact</h2>
      {% capture contact %}{% include contact.md %}{% endcapture %}
      {{ contact | markdownify }}
      
    </section> 

  </main>
  <footer class="pa3">
    <p class="tc">Designed by <a class="dim link b black-60" href="http://trevortknguyen.xyz/">Thai Nguyen</a>.</p>
  </footer>
  <script>
    function menuClose() {
      $('#menu').hide();
    }

    function menuOpen() {
      $('#menu').show(); 
    }

    $('#menu-button').click(function() {
      menuOpen();
    });

    $('#menu-close').click(function() {
      menuClose();
    });

  </script>
  <script>
    smoothScroll.init({
        offset: 0    
    });
    gumshoe.init({
        selector: '[data-gumshoe] a',
        selectorHeader: '[data-gumshoe-header]',
        container: window,
        offset: 80,
        activeClass: 'active',
        scrollDelay: false,
        callback: function (nav) {}
    });
  </script>
<body>
</html>
